body{
    border: groove;
    border-width: 5px;
    border-color: black;
    border-radius: 12px;
    margin: 30px;
    background-color:bisque;
}
.two{
    margin-left: 10px;
    color:crimson;
}
#one{
    margin-left: 20px;
    font-size: 25px;
    font-family: Arial, sans-serif;

}
ul{
    font-size: 25px;
    font-family: Arial, sans-serif;
}
.three{
    margin-left: 10px;
    font-size: 25px;
    color: crimson;
}
.five{
    color: crimson;
    margin-left: 10px;
    font-size: 25px;
}
img{
    width: 500px;
    height: 510px;
    margin-left:1100px;
    margin-top: -440px;
}